/* OVERLAY */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* MODAL CARD */
.modal-card {
    width: 700px;
    max-height: 90vh;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 8px 0px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* FIXED HEADER */
.modal-header-fixed {
    flex-shrink: 0;
    padding: 15px 25px;
    background: #000600;
    /* Golden */
    border-bottom: 2px solid black;
    color: #ffd166;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    margin: 0;
    font-weight: 500;
}

.close-btn {
    border: none;
    background: none;
    font-size: 28px;
    cursor: pointer;
    color: #ffd166;
    font-weight: bold;
}

.subtitle {
    margin-top: 5px;
    color: #ffd166;
}

/* SCROLLABLE BODY */
.modal-body-scrollable {
    flex: 1;
    overflow-y: auto;
    padding: 20px 35px;
}

/* FIXED FOOTER */
.modal-footer-fixed {
    flex-shrink: 0;
    padding: 15px 25px;
    border-top: 1px solid #ddd;
    background: #fafafa;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

/* BUTTONS */
.btn {
    padding: 10px 20px;
    font-size: 0.95rem;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.btn.cancel {
    background: #f0f0f0;
}

.btn.primary {
    background: #000600;
    color: #ffd166;
}

.btn.primary:hover {
    background: #e3b34c;
}

/* FORM GRID */
.row {
    display: flex;
    gap: 20px;
    margin-bottom: 18px;
}

.col {
    flex: 1;
}

/* LABEL + INPUT */
label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 4px;
    display: block;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* ERROR MESSAGE */
.error {
    color: #d9534f;
    font-size: 0.8rem;
    margin-top: 4px;
}

/* SECTION TITLE */
.section-title {
    margin-top: 20px;
    font-weight: 600;
    color: #666;
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .modal-card {
        width: 95%;
        max-height: 95vh;
    }

    .row {
        flex-direction: column;
        gap: 0;
    }
}