<div class="pagination-container" *ngIf="totalPages > 1">
  <button
    class="arrow-btn"
    (click)="goToPrevious()"
    [disabled]="currentPage === 1"
  >
    &laquo;
  </button>
  <ng-container *ngFor="let page of pages">
    <button
      class="page-btn"
      [class.active]="page === currentPage"
      (click)="selectPage(page)"
    >
      {{ page }}
    </button>
  </ng-container>
  <button
    class="arrow-btn"
    (click)="goToNext()"
    [disabled]="currentPage === totalPages"
  >
    &raquo;
  </button>
</div>